// .features,
// .our-work,
// .our-team,
// .clients {
//   display: flex;
// }
.section {
  padding-bottom: 60px;
  display: inline-block;
}
.section-title {
  @include font($font-main, 28px, 1.18, 700);
  letter-spacing: 0.03em;
  text-align: center;
}
.team,
.our-clients {
  padding-top: 60px;
}
.works {
  display: none;
}
