.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 530px;
  min-height: 580px;
  padding: 40px;
  background-color: $effect-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  &-title {
    margin-bottom: 30px;
    @include font($font-main, 20px, 23px, 700);
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-color;
  }
}

.form {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.form-field {
  margin-bottom: 28px;
  position: relative;
  & label {
    line-height: 16px;
    letter-spacing: 0.01em;
    color: $title-color;
  }
}
.form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: transform 250ms $timing-function;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  display: inline-block;
  width: 18px;
  height: 18px;
  color: black;
  transform: translateY(-50%);
}
.form-input {
  padding: 12px 18px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}
.form-input:focus {
  border: 1px solid $accent-color;
  outline: none;
  & ~ .form-icon {
    fill: $accent-color;
  }
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: $accent-color;
  transform: translate(-25px, -40px);
}

.agreement,
.comment {
  color: $title-color;
}
textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  color: $title-color;
  outline: none;
  padding: 12px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.form-area:focus {
  border: 1px solid $accent-color;
}
.form-area:focus + .form-label-area,
.form-area:not(:placeholder-shown) + .form-label-area {
  color: $accent-color;
  transform: translate(-5px, -40px);
}
.form-label-area {
  position: absolute;
  top: 280px;
  left: 20px;
  transform: translateY(-50%);
  transition: transform 250ms $timing-function;
}

.agreement a {
  text-decoration: underline;
  color: $accent-color;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 12px;

  border: 2px solid $primary-color;
  margin-right: 8px;
  border-radius: 4px;
  transition: all 250ms $timing-function;
  transform: translateY(3px);
}
.checkbox:checked + .checkbox-icon::before {
  background-color: $accent-color;
  background-image: url(../img/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}
.checkbox,
.checkbox-label {
  display: inline-flex;
  align-items: center;
}

.close-button {
  width: 18px;
  height: 18px;

  background: $effect-color;
  border-radius: 50%;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: $effect-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 250ms $timing-function;
  &:focus,
  &:hover {
    fill: $accent-color;
    border-radius: 50%;
    outline: none;
  }
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
