.projects {
  padding-top: 60px;
  padding-bottom: 60px;
  &-title {
    visibility: hidden;
    line-height: 0;
    margin: 0;
  }
  @media screen and (min-width: 768px) {
    &-scroll {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.project-list {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms $timing-function;
  &:hover,
  &:focus {
    & .overlay {
      opacity: 1;
      background: rgba(33, 150, 243, 0.9);
      color: $effect-color;
      height: 100%;
      width: 100%;
      transform: translateY(0);
      outline: none;
    }
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(even) {
      margin-left: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
  }
}
.project-list:nth-child(3n) {
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}
.project-list:nth-child(n + 4) {
  @media screen and (min-width: 1200px) {
    margin-top: 30px;
  }
}
.project-list:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}
.picture {
  position: relative;
  overflow: hidden;
}
.picture > img {
  width: 100%;
}
.overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  transform: translateY(100%);

  transition: transform 250ms $timing-function,
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  color: $effect-color;
}

.project-text {
  @include font($font-main, 18px, 1.56);
  letter-spacing: 0.03em;
  @media screen and(max-width:767px) {
    padding: 77px 24px;
  }
  @media screen and(min-width:768px) {
    padding: 49px 24px;
  }
}

.project-discription {
  padding: 20px 24px;
}

.project-item {
  @include font($font-main, 18px, 2, 700);
  letter-spacing: 0.06em;
  color: $primary-color;
}
.project-type {
  @include font($font-main, 16px, 1.87);
  color: $title-color;
}
