.works-list {
  width: 370px;
  &:not(:first-child) {
    margin-left: 30px;
  }
}

.work-thumb {
  position: relative;
}

.subtitle {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100%;

  @include font($font-main, 14px, 70px, 700);
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: $effect-color;
  text-align: center;
}
